@tailwind base;
@tailwind components;
@tailwind utilities;


.main{
 
  height: 100vh;
}

.mealList {
  
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: left;
  color: black;
  border-radius: 1%;
  
}

.allMeals {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  grid-row-gap: 2px;
  grid-column-gap: 2px;
}
h1{
  text-align: center;
  font-size: 3rem;
}

.home-button{
  background-color: #1976d2;
  border-radius: 10px;
  padding: 1% 5%;
  color: white;
  border: none;
  position: absolute;
  left: 40%;
}

.hero{
  width: 100%;
  /* padding:5% 10%; */
  
}
.hero-overlay{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 1px;
  padding: 2% 5%;
  width: 100%;
  margin: auto;
 
}

.hero-title {
  font-size: 4.9rem;
  line-height: 1.3;
  margin-bottom: 1rem;
  font-weight: bold;
 
  text-align: left;
}

.hero-description {
  font-size: 1.5rem;
  line-height: 2;
  margin-bottom: 2rem;
  color: #000;
  text-align: left;
}

.hero-content{
  text-align: center;
  padding: 1% 1%;
  width: 100%;      
  margin: auto;
  border: 1px solid white;
}

.hero-content img{
  width: 100%;
  border-radius: 10% 2%;
}

/* .container{
  width: 100%;
  margin: auto;
} */

.search-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  text-align: center;
  color: black;
  border-radius: 1%;
}

.select{
   width: 150px;
    height: 50px; 
    border-radius: 5px;
     border: 2px solid #1976d2;
      padding: 10px; 
      margin: 5px;
      font-size: 1rem;
      font-weight: 600;
      color: #000;
    background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      outline: none;
      cursor: pointer;
      transition: border-color 0.3s ease-in-out;
    

}