@tailwind base;
@tailwind components;
@tailwind utilities;


.main{
 
  height: 100vh;
}

.mealList {
  
  display: block;
  margin: auto;
  text-align: left;
  color: black;
  background-color: thistle;
  border-radius: 1%;
  padding: 2% 3%;
}

.allMeals {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  grid-row-gap: 2px;
  grid-column-gap: 2px;
}
h1{
  text-align: center;
  font-size: 3rem;
}

.home-button{
  background-color: #1976d2;
  border-radius: 10px;
  padding: 1% 5%;
  color: white;
  border: none;
  position: absolute;
  left: 40%;
}