@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.main{
  padding: 0% 10%;
  margin-top: 10%;
}
.mealList {
  
  display: block;
  margin: auto;
  text-align: center;
  color: black;
  background-color: thistle;
  border-radius: 1%;
}

/* .allMeals {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
} */
