html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.main{
  padding: 0% 10%;
}
.mealList {
  border: 1px solid black;
  display: block;
  margin: auto;
  text-align: center;
  color: black;
  background-color: thistle;
  border-radius: 1%;
}

.allMeals {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
}
